<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GetManhwa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <!--<system.net>
    <defaultProxy>
      <proxy usesystemdefault="true"/>
    </defaultProxy>
  </system.net>-->
    <userSettings>
        <GetManhwa.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value>連結</value>
            </setting>
        </GetManhwa.Properties.Settings>
    </userSettings>
</configuration>
